.restaurantNotOpenedSoon {
    background-color: green
}

.restaurantOpenedSoon {
    background-color: orange
}

.restaurantOpenedNow {
    background-color: red
}

.restaurantClosedAllDay {
    background-color: red
}